body {
	font-family: 'Roboto', sans-serif;	
}

.wrap {
	width: 80vw;
	height: 80vh;
	margin: auto;
}


.center {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#name_container{
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 5px 5px;
	height: 5%;
}

#name_container .edit {
	display: none;
}

/*#queue {
	min-height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}*/

#controls{
	/*5% name container, 95% controls*/
	height: 90%;
	position: relative;
}

#tutorial{
	display: none;
	height: 70%;
}

#tutorial span{
	display: block;
	padding: 20px;

}

#static_rotate{
	height: 50%;
	padding: 20px;
	-webkit-animation: tilt 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes tilt {
    0%   {-webkit-transform: rotate(-30deg)}
    100% {-webkit-transform: rotate(30deg)}
}

#join_queue {
	font-family: 'Roboto', sans-serif;
	font-size: large;
	color: white;
	font-weight: bold;
	
	border-radius: 25px;
	height: 20%;

	position: absolute;
	bottom: 5%;
	transform: translateX(-50%);
}

#join_queue.enabled {
	background: linear-gradient(to bottom, lightgreen, green);
}

#join_queue.disabled {
	background: linear-gradient(to bottom, lightgray, gray);
}
