<span><b>
	Waiting to Play: [
		<% i = 1 %>
		<%= data.map(function(usr){return "<span style=\"background-color: #" + usr.color.toString(16) + "\">" + (i++) + ". " + usr.uname + "</span>"}).join("  ") %>
	]
</b></span>
