<table id="scores_table" border="1">
	<tr>
    <th class="score_cell">Player</th>
    <th class="score_cell">Score</th>
  </tr>
  
  <% for(var userID in players) {%>
  	<tr>
  		<td class="score_cell"><%=players[userID].uname%></td>
		  <td class="score_cell"><%=players[userID].score%></td>
	   </tr>
  <% } %>
</table>
